* {
    font-family: 'Montserrat';

}

i {
    font-style: normal;

}


li {
    list-style: none;
}


.citySelector {
    height: 100vh;
}

.border-right {
    border-right: 4px dashed #dee2e6!important;

}

#searchNav {
    padding-left: 15px;
}
