* {
    font-family: 'Montserrat';

}

i {
    font-style: normal;

}


li {
    list-style: none;
}

img {
    height: 100px;

}


.citySelector {
    height: 100vh;
}

.border-right {
    border-right: 4px dashed #dee2e6 !important;

}

#searchNav {
    padding-left: 15px;
}

#errorAlert {
    z-index: 100;
    width:100%;
    position: fixed;

}